.is-style-smc-quiz > div:not(.is-style-smc-post-quiz):after {
    content:"";
    border-bottom: 2px dotted #c0c0c0;
    padding-bottom:1.8rem;
    display: block;
}

.is-style-smc-quiz > div.no-border:after {
    padding-bottom:0;
    border-bottom: none;
}

.is-style-smc-quiz .answer,
.is-style-smc-quiz .is-style-smc-post-quiz{
    display:none;
    overflow: auto;
}

.is-style-smc-quiz h2, .is-style-smc-quiz h3, .is-style-smc-quiz h4{
    font-size:1.2rem;
}

.is-style-smc-quiz ul{
    list-style-type: none;
    padding-left:0;
}

.is-style-smc-quiz li input{
    margin-right:8px;
}

.is-style-smc-quiz .answer p:first-of-type{
    margin-top:0;
}

.is-style-smc-quiz p.answer.correct:before,
.is-style-smc-quiz div.answer.correct > p:first-of-type:before{
    content:"Correct! ";
    color:darkgreen;
    font-weight: bold;
}

.is-style-smc-quiz p.answer.incorrect:before,
.is-style-smc-quiz div.answer.incorrect > p:first-of-type:before{
    content:"Incorrect! ";
    color:darkred;
    font-weight: bold;
}

.is-style-smc-post-quiz{
    padding:1rem 1.4rem;
    background-color: rgb(232, 232, 232);
    border-radius: 15px;
}

.is-style-smc-post-quiz .score{
    font-weight: bold;
    margin-top:0;
    margin-bottom:0;
}

.is-style-smc-quiz .fadeIn {
    animation: fadeIn 1.2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}